@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie Manager</h1>
    <p>Look up more movies <a href="https://www.imdb.com/"> at IMDB.com</a></p>
    <p>Use Movie Manager to manage lists of your favorite movies and actors!</p>
</div>
